.modal.hide.fade(id='uploadModal')
	.modal-header
		.button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
		h3 Update Profile Picture
	.modal-body
		div(id='bootstrapped-fine-uploader')
	.modal-footer
		a(href='#', class='btn', data-dismiss='modal') Close