link(rel='stylesheet', href='/css/uploader.css')
script(type='text/javascript', src='/js/lib/uploader.js')
script(type='text/javascript', src='/js/lib/uploader.xss.js')
script(type='text/javascript')
	function createUploader() {
		var uploader = new qq.FineUploader({
			element: document.getElementById('bootstrapped-fine-uploader'),
			request: {
				endpoint: '/user/media?session_id=' + _$user_id
			},
			text: {
				uploadButton: '<div><i class="icon-upload icon-white"></i> Upload a Profile Photo</div>'
			},
			template: '<div class="qq-uploader span12">' +
				'<pre class="qq-upload-drop-area span12"><span>{dragZoneText}</span></pre>' +
				'<div class="qq-upload-button btn btn-success" style="width: auto;">{uploadButtonText}</div>' +
				'<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
				'<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
				'</div>',
			callbacks: {
				onComplete: function(id, fileName, responseJson) {
					if (responseJson.success) {
						$(".image.profile_avatar").css({"background-image": "url(" + responseJson.url + ")", "background-position": "center top"});
					}
				}
			},
			classes: {
				success: 'alert alert-success',
				fail: 'alert alert-error'
			}
		});
	}
	window.onload = createUploader;

.modal.hide.fade(id='uploadModal')
	.modal-header
		.button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
		h3 Update Profile Picture
	.modal-body
		div(id='bootstrapped-fine-uploader')
	.modal-footer
		a(href='#', class='btn', data-dismiss='modal').close Close

.modal.hide.fade(id='uploadModalPhoto')
	.modal-header
		.button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
		h3 Add Picture To Spot
	.modal-body
		div(id='bootstrapped-photo-uploader')
	.modal-footer
		a(href='#', class='btn', data-dismiss='modal').close Close

.modal.hide.fade(id='fatalError')
	.modal-header
		h3 An unexpected error has occured.
	.modal-body
		|We will now attempt to reload your screen in hopes this will resolve the issue.
		|Please sit tight for a brief moment.
		br
		br
		| Problem:
		.reason
			| Unexepected error within the system.
	.modal-footer