.modal.hide.fade(id='uploadModal')
	.modal-header
		.button(type='button', data-dismiss='modal', aria-hidden='true').close &times;
		h3 Update Profile Picture
	.modal-body
		div(id='bootstrapped-fine-uploader')
	.modal-footer
		a(href='#', class='btn', data-dismiss='modal') Close

.modal.hide.fade(id='fatalError')
	.modal-header
		h3 An unexpected error has occured.
	.modal-body
		|We will now attempt to reload your screen in hopes this will resolve the issue.
		|Please sit tight for a brief moment.
		br
		br
		| Problem:
		.reason
			| Unexepected error within the system.
	.modal-footer