.navbar.nav-mobile.hidden-desktop.nav-collapse.topbar-bg
	ul.nav
		li
			a(href='/main/') Home
		li
			a(href='/main/spots') Spots
		li
			a(href='/main/profile') Profile
		li
			a(href='/main/logout') Logout