.navbar
	.navbar-inner
		a.brand Navigaiton
		ul.nav
			each name in ["Home", "Spots", "Profile"]
				if (page.active==name)
					li.active
						if (name=="Home")
							a(href='/main/')= name
						else
							a(href='/main/#{name.toLowerCase()}')= name
				else
					li
						if (name=="Home")
							a(href='/main/')= name
						else
							a(href='/main/#{name.toLowerCase()}')= name