# git ignore file
*.bak
logs/*
logs/appendonly.aof
*.aof
.webbynode
.webbynode/*
*.rdb
.pushand
*.rdb
.DS_Store
*.rdb

*.aof

*.httpclient

node_modules/.DS_Store

node_modules/.DS_Store
public/*
public
