extends main-layout

block content
	#kitecasterapp
		.container-fluid
			if(msg)
				.row-fluid
					.span4
					.span4
						.alert
							button(type='button', class='close', data-dismiss='alert') &times;
							h3| An error occured:
							h4 #{msg}
					.span4
			if(txt)
				.row-fluid
					.span4
					.span4
						.alert.alert-info
							button(type='button', class='close', data-dismiss='alert') &times;
							h4 #{txt}
					.span4
			.row-fluid
				.span4
				.span4.well
					.row-fluid
						.span12
							form(method='post', action='/main/login', enctype='application/x-www-form-urlencoded').form-input
								fieldset
									legend 
										h2 Sign In or Create Account
								.control-group
									.controls
										input(type='text', class='span12', id='email', name='email', placeholder='Email')
								.control-group
									.controls
										input(type='password', class='span12', id='password', name='password', placeholder='Password')
								.control-group
									.controls
										input(type='submit', class='btn btn-success', value='Sign In')
										|  or 
										a.btn.btn-info(href='/main/register') Create an Account
				.span4