extends main-layout

block content
	#kitecasterapp
		.container-fluid
			if(msg)
				.row-fluid
					.span4
					.span4
						.alert
							button(type='button', class='close', data-dismiss='alert') &times;
							h3| An error occured:
							h4 #{msg}
					.span4
			if(txt)
				.row-fluid
					.span4
					.span4
						.alert.alert-info
							button(type='button', class='close', data-dismiss='alert') &times;
							h4 #{txt}
					.span4
			.row-fluid
				.span4
				.span4.well
					.row-fluid
						.span12
							form(method='post', action='/login', enctype='application/x-www-form-urlencoded').form-input
								fieldset
									legend 
										h2 Sign Into Your Account
								.control-group
									label.control-label Email Address
									.controls
										input(type='text', class='span12', id='email', name='email', placeholder='me@name.com')
								.control-group
									label.control-label Password
									.controls
										input(type='password', class='span12', id='password', name='password', placeholder='Enter your password')
								.control-group
									.controls
								.control-group
									.controls
										input(type='submit', class='btn btn-success', value='Login')
										|  or 
										a.btn.btn-info(href='/register') Create an Account
				.span4