extends main-layout

block script_include
	script(src='/js/lib/jquery.validate.min.js', type='text/javaScript')
	script(src='/js/app/frontend.js', type='text/javaScript')

block content
	#kitecasterapp
		.container-fluid
			if(msg)
				.row-fluid
					.span4
					.span4
						.alert
							button(type='button', class='close', data-dismiss='alert') &times;
							h3| An error occured:
							h4 #{msg}
					.span4
			if(txt)
				.row-fluid
					.span4
					.span4
						.alert.alert-info
							button(type='button', class='close', data-dismiss='alert') &times;
							h4 #{txt}
					.span4
			.row-fluid
				.span4
				.span4.well
					.row-fluid
						.span12
							form(method='post', action='/main/register', id='register-form', enctype='application/x-www-form-urlencoded').form-input
								fieldset
									legend 
										h2 Create Account or Sign In
								.control-group
									.controls
										input(type='text', class='span12', id='firstname', name='firstname', placeholder='First Name')
								.control-group
									.controls
										input(type='text', class='span12', id='lastname', name='lastname', placeholder='Last Name')
								.control-group
									.controls
										input(type='text', class='span12', id='email', name='email', placeholder='Email Address')
								.control-group
									.controls
										input(type='password', class='span12', id='password', name='password', placeholder='Password')
								.control-group
									.controls
										input(type='password', class='span12', id='password_confirm', name='password_confirm', placeholder='Confirm password')
								.control-group
									.controls
										input(type='submit', class='btn btn-success', value='Create Account')
										|  or 
										a.btn.btn-info(href='/main/login') Sign In
				.span4