extends layout

block head
  script(src='js/lib/underscore.js')
  script(src='js/lib/jquery.js')


block content
  #kitecasterapp
    .title
        h1 Kitecaster Beta
      .content
    #credits     
    


 
