body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}


a {
  color: #00b7ff;
}

.warning-message {
   color: #942314;
   font-weight: bold;
}

.ok-message { 
   color:#12b628;
   font-weight: bold;

}

