@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600)

html body {
    padding: 0;
    margin: 0;
}

ol, ul,a {
    -webkit-font-smoothing: antialiased;
}

ol, ul {
    list-style: none;
}

#map-canvas.fill > img {
    max-width: none;
}

#kitecasterapp {
    margin-top: 50px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/bw1024.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

.info .location {
    margin-left: 3px;
}

.body-inside {
  background: #e9eef1;    
}

.fixed-top {
    margin: 0;
    padding: 0;
}

.stretched-topbar {
    min-height: 46px;
    background: #f8f8f8;
}

.nav-location {
    margin-top: 15px;
}

.footer-bar {
    min-height: 50px;
}

.bottom-bar {
}

.top_spacer {
    min-height: 20px;
}


.content_feed .header {
    border-radius: 8px 8px 0 0;
    background: #333a3b;
    color: #fff;
    padding: 15px;
    font-size: 15px;
}

.content_feed .body {
    background: #f9f9f9;
    border: solid 1px #dfe0e2;
    color: #676c6f;
    font-weight: normal;
    text-shadow: 0 1px 1px #fff;
    box-shadow: #e4e4e4 0 1px 1px;
    border-radius: 0 0 4px 4px;
}

.stretch {
    margin: 0;
    padding: 0;   
}

.fill {
    height: 80% !important;
}

.content_feed .body ul {
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    list-style: none;
}

.content_feed .body ul li {
    clear: both;
    border-bottom: solid 1px #dfe0e2;
    padding: 30px 40px;
}

h2.head_title {
    margin-left: 15px;
}

.profile .header {
/*    background-image: url('../images/bw1024.jpg'); */
    background: #e9eef1;
    min-height: 150px;
    background-size: cover;
    box-shadow: #afb1b0 0 1px 0;
    -webkit-box-shadow: #afb1b0 0 1px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile > .body > .info ul {
    margin: 20px auto 20px;
    width: 80%;
}

.icon-stack.icon-large.icon-correct {
    clear: both;
    margin-right: 16px;
}

.icon-stack.icon-correct {
    clear: both;
    margin-right: 8px;
}


.icon-stack > i.icon-correct {
    margin: 2px 0px 0px 5px
}

.profile > .body > .name {
    padding: 0 0 20px;
    border-bottom: solid 1px #dfe0e2;
}

.profile > .body > .name h3 {
    padding: 0;
    margin: 0;
    font-size: 22px;
}

.profile > .body > .name h4 {
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #acacac;
    text-shadow: 0 1px 1px #fff;
    text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight:600;
    color: #333a3b;
}

.location_description {
    color: #00b7ff;
    cursor: pointer;
    margin-left: 8px;   
}

.spacer {
    margin: 0 2px;
}

.icon-plus-sign.icon-2x, .icon-plus-sign.icon-1x {
    background-position: 14px 14px;
}

.profile .body {
    padding-top: 20px;
    background: #f9f9f9;
    border: solid 1px #dfe0e2;
    border-top: 0px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: #e4e4e4 0 1px 1px;
    -moz-box-shadow: #e4e4e4 0 1px 1px;
    box-shadow: #e4e4e4 0 1px 1px;
}

.profile .header .image {
    background-size: cover;
    background-position: center;
    border: solid 5px #fff;
    border-radius: 92px;
    top: 10px;
    width: 175px;
    height: 175px;
    box-shadow: #969696 0 2px 4px;
    -webkit-box-shadow: #969696 0 2px 4px;
    margin: auto;
    position: relative;
    background-image: url('/images/default_profile.jpg');
}

.profile .header .image:hover:before {
    content: "";
    background-image: none; 
}

.profile .header .image:hover {
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center bottom;
    opacity: .5;
    background-color: #DEDEDE !important;
    background-position: center top;
}


a {
  color: #00b7ff;
}

.warning-message {
   color: #942314;
   font-weight: bold;
}

.ok-message { 
   color:#12b628;
   font-weight: bold;

}

.threestars {
	background-image: url('/images/surfing-32.png');
	background-repeat: repeat-x no-repeat;
	width: 96px;
	height: 32px;
}

.twostars {
	background-image: url('/images/surfing-32.png');
	background-repeat: repeat-x no-repeat;
	width: 64px;
	height: 32px;
}

.onestars {
	background-image: url('/images/surfing-32.png');
	background-repeat: repeat-x no-repeat;
	width: 32px;
	height: 32px;
}

.nav li > a:hover {
	background-color: none !important;
}

.hidden {
	display: none;
	visibility: hidden;
}

.nav li {
	font-size: 1.5em;
}

.list :last-child {
	display: none;
}

.form-input .control-group .controls label {
	min-height: 20px;
}

.form-input .control-group > *, .form-input .controls > * {
	font-size: 24px !important;
	min-height: 42px;
}

.form-input input {
	font-size: 24px !important;
	line-height: 33px;
	height: 44px;
	min-height: 46px;
}

.form-input span.add-on {
	height: 34px;
}

.multiple-borders {
	border-radius: 4px;
	box-shadow: 0px 0px 0px 5px #000, 0px 0px 0px 10px #f5f5f5;
	/**-webkit-filter: grayscale(100%) contrast(150%);**/
}

label.valid {
	width: 24px;
	height: 24px;
	background: url(/assets/img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

.previewCover {
	height: 250px;
}	

.preview_image_main {
	height: 250px;
}

.topbar-bg {
    background: #f8f8f8;
}

@media (min-width: 768px) and (max-width: 979px) {
    #kitecasterapp {
        margin-top: 0px;
    }
    .navbar .navbar-inner {
        padding: 5px 24px;
    }
    .stretched-topbar {
        height: 70px;
    }
    /* used to ge the dropdown button where it needs to be */
    .title-location {
        width: 75% !important;
    }
}

@media (max-width: 768px) {
    .stretched-topbar {
        height: 70px;
    }    
}

@media (max-width: 979px) {
    .stretched-topbar {
        height: auto;
    }
    .middlebar {
        min-height: 0;
    }
    .middlebar > .row-fluid > .span12 {
        min-height: 0;
    }
    .nav-location {
        float: none;
    }
    .navbar-handler {
        float: none;
    }
    #kitecasterapp {
        margin-top: 0px;
    }
    .navbar .navbar-inner {
        padding: 5px 24px;
    }
}


.box1 {
  /* fallback DIY*/

  /** Green: #ffff00 **/
  /** Yellow: #99ffcc **/
 
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(0.230, #99ffcc), color-stop(0.230, #ffff00), color-stop(0.115, #99ffcc), color-stop(0.423, #ffff00), to(#fff));

}

/**

@media (min-width: 768px) and (max-width: 979px) {
	.nav li {
		font-size: 1.5em;
	}
	.previewCover {
		height: 250px;
	}
	.preview_image_main {
		height: 250px;
	}
}


@media (max-width: 979px) {
    .navbar .brand {
        margin: 0 0 0 15px;
    }
}

@media (max-width: 767px) {
	.navbar-inner {
		padding: 0px !important;
	}
	.nav li {
		font-size: 1.8em;
		padding: 0px !important;
	.navbar .brand {
		display: none;
		visibility: hidden;
	}
    .navbar .brand {
        
    }

	.previewCover {
		width: 100%;
	}

	.preview_image_main {
		width: 100%;	
	}
	
	.btn-group > .btn {
		display: block;
		width: 100%;
	}
	
	.btn-group > .btn:first-child {
		border-top-right-radius: 4px;
		border-bottom-left-radius: 0px;
		margin-left: -1px;
	}
	
	.btn-group > .btn:last-child {
		border-top-right-radius: 0px;
		border-bottom-left-radius: 4px;
	}
}
*/