body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}


a {
  color: #00b7ff;
}

.warning-message {
   color: rgba(113,35,35,0.59);
}

.ok-message { 
   color: rgba(49,170,58,0.79)
}

