extends layout_new_single

block content_header
	h1 Our Recent News

block content
	.container
		.row-fluid.blog-page
			.span3
			.span9
				- var posts = getPosts(0,5)
				- var page  = 1
				- each post in posts
					=JSON.stringify(post.display_main)
					if(!post.hide_main)
						include includes/postSnippet
			
				include includes/pagination

block page_center
